.index {
    width: 100%;
    height: auto;
    min-width: 300px;
    margin: 0 auto;
    overflow: hidden;
}

.index-main {
    max-width: 1200px;
    min-width: 150px;
    margin: 0 auto;
    padding: 0;
}

.container h1 span {
    color: #F40;
    font-weight: normal;
}

.container h1 em {
    font-style: normal;
}

.container h1 {
    font-size: 18px;
}

.box-in {
    height: 260px;
    margin-top: 10px;
    position: relative;
    background-color: #f6f6f6;
    padding-left: 260px;
}

.box-title {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 260px;
    width: 230px;
    background-color: #87c308;
    color: #FFF;
}

.sprite.pc {
    background-position: -575px 0;
    width: 122px;
    height: 110px;
}

.box-title i {
    margin-top: 46px;
}

.container h1 span,
.sprite {
    vertical-align: middle;
}

.box-title b {
    display: block;
    font-size: 22px;
    line-height: 90px;
}

.box-title .arrow {
    border-width: 15px 12px;
    border-style: solid;
    border-color: transparent;
    border-left-color: transparent;
    _border-color: pink;
    _filter: chroma(color=pink);
    border-left-color: #87c308;
    position: absolute;
    right: -24px;
    top: 50%;
    margin-top: -12px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
}

.sprite.warn {
    background-position: -1118px 0;
    width: 26px;
    height: 26px;
}

.warn {
    margin-right: 10px;
}

.sprite {
    background: url('/static/img/browser-upgrade.png') center center no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: auto auto;
    background-size: 1154px 141px;
    display: inline-block;
    image-rendering: pixelated;
}

.sprite.chrome {
    background-position: -258px 0;
    width: 100px;
    height: 100px;
}

.sprite.ff {
    background-position: -372px 0;
    width: 100px;
    height: 100px;
}

.sprite.uc {
    background-position: -1009px 0;
    width: 100px;
    height: 100px;
}

.box-in ul {
    list-style-type: none;
}

.box-in ul li,
.box-title,
.pc-box li a {
    text-align: center;
}

.pc-box li a {
    display: inline-block;
    width: 168px;
    height: 40px;
    line-height: 40px;
    color: #FFF;
    background-color: #87c308;
    position: relative;
    font-size: 18px;
}

.pc-box li.ff-item a {
    background-color: #34acf2;
}

.pc-box li.ie-item a {
    background-color: #5bc0de;
}

.box-in ul li,
.box-title,
.pc-box li a {
    text-align: center;
    text-decoration: none;
}

.pc-box li a:hover i {
    right: 18px;
}

.pc-box li a em,
.pc-box li a i {
    border-width: 7px 6px;
    border-style: solid;
    border-color: transparent;
    border-left-color: transparent;
    _border-color: pink;
    _filter: chroma(color=pink);
    border-left-color: #eee;
    position: absolute;
    right: 18px;
    top: 13px;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    text-decoration: none;
}

.pc-box li p {
    margin-top: 16px;
}

.box-in ul {
    overflow: hidden;
    padding-top: 30px;
}

.box-in ul li {
    float: left;
    width: 240px;
    height: 230px;
}
