// 按钮
.el-button {
    font-size: 18px;
}

$btnMainColor: #F26A3E;
$btnSubColor: #d96038;

.el-button--primary {
    background-color: $btnMainColor;
    border-color: $btnMainColor;
    &.shadow-button {
      box-shadow: 0 2px 4px 2px rgba(242,106,62,0.20);
    }
    &.is-active,
    &:active {
        background-color: $btnSubColor;
        border-color: $btnSubColor;
    }
    &:focus,
    &:hover {
        background-color: $btnSubColor;
        border-color: $btnSubColor;
    }
}

.el-button--text {
  font-size: inherit;
}

.el-button--text,
.el-button--default {
    color: $btnMainColor;
    &.shadow-button {
      box-shadow: 0 2px 4px 2px rgba(0,0,0,0.04);
    }
    &:active {
        color: $btnSubColor;
    }
    &:focus,
    &:hover {
        color: $btnSubColor;
    }
}

.el-button--default {
    border-color: $btnMainColor;
    &:active {
        border-color: $btnSubColor;
    }
    &:focus,
    &:hover {
        border-color: $btnSubColor;
    }
}

.el-button--ellipse {
  border-radius: 100px;
  border-color: #999;
  color: #999;
}
