.el-dialog__title {
    color: #222;
    font-size: 18px;
}

.portal-dialog {
    .el-dialog__header {
        text-align: center;
    }
    .el-button {
        margin-top: 20px;
        width: 100%;
    }
}

.portal-dialog-mobile {
    .el-dialog {
        width: 80%;
    }
}

.verify-dialog {
    .el-dialog__body {
        text-align: center;
        .el-form {
            .el-form-item {
                .el-form-item__content {
                    .el-input {
                        .el-input__inner {
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
