form.el-form {
    .el-form-item {
        .el-input~button.btn-right {
            width: auto;
            position: absolute;
            right: 2px;
            top: 2px;
            padding: 8px 12px;
        }
    }
}

form.el-form.mintui-style {
    padding: 8px;
    .el-form-item {
      .el-radio-group {
        .el-radio {
          margin: 0 15px 5px 0;
        }
      }
    }
}
