// 此皮肤的基础样式
body {
  min-width: 320px;
}

body.bd-bg {
  background-color: #f8f8f8;
}

body.bd-bg .ctx-bg {
  background-color: white;
}

body.no-scroll {
  overflow: hidden;
}

// placeholder
$placeholder: #666;
$dis-placeholder: #eee;
.el-input__inner::-webkit-input-placeholder {
  color: $placeholder;
}

.el-input__inner::-moz-placeholder {
  color: $placeholder;
}

.el-input__inner:-ms-input-placeholder {
  color: $placeholder;
}

.el-input__inner::placeholder {
  color: $placeholder;
}

.el-textarea__inner::-webkit-input-placeholder {
  color: $placeholder;
}

.el-textarea__inner::-moz-placeholder {
  color: $placeholder;
}

.el-textarea__inner:-ms-input-placeholder {
  color: $placeholder;
}

.el-textarea__inner::placeholder {
  color: $placeholder;
}

.el-input.is-disabled .el-input__inner::-webkit-input-placeholder {
  color: $dis-placeholder;
}

.el-input.is-disabled .el-input__inner::-moz-placeholder {
  color: $dis-placeholder;
}

.el-input.is-disabled .el-input__inner:-ms-input-placeholder {
  color: $dis-placeholder;
}

.el-input.is-disabled .el-input__inner::placeholder {
  color: $dis-placeholder;
}

.el-textarea.is-disabled .el-textarea__inner::-webkit-input-placeholder {
  color: $dis-placeholder;
}

.el-textarea.is-disabled .el-textarea__inner::-moz-placeholder {
  color: $dis-placeholder;
}

.el-textarea.is-disabled .el-textarea__inner:-ms-input-placeholder {
  color: $dis-placeholder;
}

.el-textarea.is-disabled .el-textarea__inner::placeholder {
  color: $dis-placeholder;
}

// 链接
a {
  $linkColor: #f26a3e;
  font-size: 14px;
  color: $linkColor;
  text-decoration: none;
  outline: none;
  &:visited {
    color: $linkColor;
  }
  &:hover {
    color: #f48d6c;
  }
}

.hidden {
  display: none;
}

// 容器
.container {
  margin: 0 auto;
  &.container-pd {
    // 普通内边距
    padding: 10px;
  }
  &.container-shrink {
    // 缩
    padding: 25% 50px 0 50px;
  }
  &.container-portable {
    // 限制移动设备最大
    max-width: 990px;
  }
  .operation {
    margin-top: 50px;
  }
}

// header
.has-fixed-nav-header {
  padding-top: 40px;
}

.col-percent {
  position: relative;
  &:before,
  &:after {
    display: table;
    content: '';
  }
  &:after {
    clear: both;
  }
}

[class^='col-percent-'] {
  float: left;
}

.col-percent-20 {
  width: 20%;
}

.col-percent-25 {
  width: 25%;
}

// 全宽
.full-width {
  width: 100%;
  margin-bottom: 15px;
}

.full-width + .full-width {
  margin-left: 0;
}

// fixed
.fixed-bt {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;

  .el-button {
    margin: 0;
    background-color: white;
    font-size: 18px;
    font-weight: bolder;
    padding: 13px 15px;
    border-radius: 0;
    &.primary-button {
      color: white;
      background-color: #F26A3E;
    }
  }
}

@import './popup.scss';
@import './button.scss';
@import './radio.scss';
@import './dialog.scss';
@import './form.scss';
@import './card.scss';
@import './loadmore.scss';
@import './nav-menu.scss';
@import './step.scss';
