.portal-dialog {
    .el-dialog__header {
        text-align: center;
    }
    .el-input-group {
        .el-input-group__append {
            padding: 0;
            img {
                height: 31px;
                cursor: pointer;
            }
        }
    }
    .el-button {
        margin-top: 20px;
        width: 100%;
    }
}

.portal-dialog-mobile {
    .el-dialog {
        width: 80%;
    }
}
